@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.wrap {
	margin: auto;
	width: 300px;
	font-family: 'Roboto', sans-serif;
}

.title {
	margin-top: 50px;
	margin-bottom: 35px;
	font-size: 35px;
	font-weight: 700;
}