@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.wrap {
	margin: auto;
	width: 300px;
	font-family: 'Roboto', sans-serif;
}

.title {
	margin-top: 50px;
	margin-bottom: 35px;
	font-size: 35px;
	font-weight: 700;
}

.input {
	font-weight: 100;
	font-size: 18px;
	margin-bottom: 30px;
}

.list {
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 25px;
}

.items {
	margin-bottom: 6px;
}

.footer {
	font-weight: 100;
	font-size: 18px;
}